.categories-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    /* border: 1px solid grey; */
}
.card-container img{
    width: 70%;
    height: 80%;
    padding: 5px;
    margin: 5px;
}
.card-container{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 18%;
    min-width: 140px;
    border-radius: 10px;

}
.card-container:hover{
    transform: scale(1.08);
}
h5{
    margin: 10px;
}